@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
	font-family: 'Pretendard', 'Apple SD Gothic Neo', sans-serif;
    color: #242926;
    padding: 0; margin: 0;
}

a {
    text-decoration: none;
}

/* 헤더 */
#top {
    width: 70%;
    height: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
#top h3 img { margin-right: 50px; }
#top #menu img { margin-left: 36px; }

#nav_bar {
    height: 56px;
    padding-left: 13%;
    padding-right: 15%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-weight: bold;
    font-size: medium;
    border-top: 1px solid #dedede;
}
#nav_bar ul { display: flex; align-items: center; }
#nav_bar li { list-style-type: none; }
#nav_bar #category { height: 100%; }
#nav_bar #category li { margin-right: 10px; }
#nav_bar #category li img { margin-bottom: 2px; }
#nav_bar #sale_menu { width: 40%; justify-content: space-between; }
#nav_bar #user_menu { font-weight: 400; }
#nav_bar #user_menu li { margin-left: 16px; }
#nav_bar #user_menu li a { text-decoration: none; color: #242926; }